In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
#set visualization theme
sns.set()

In [2]:
#import data set
df = pd.read_csv("../data/Jewelry_Dataset.csv")

#structure the columns
df.columns = [
    "Order_Datetime",
    "Order_id",
    "Product_id",
    "SKU_Quantity",
    "Category_ID",
    "Category",
    "Brand_ID",
    "Price_USD",
    "User_ID",
    "Target_Gender",
    "Main_Color",
    "Main_Metal",
    "Main_Gem",
]

In [3]:
#View data
df.head(5)

,Order_Datetime,Order_id,Product_id,SKU_Quantity,Category_ID,Category,Brand_ID,Price_USD,User_ID,Target_Gender,Main_Color,Main_Metal,Main_Gem
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [4]:
# Strip spaces and standardize capitalization and underscores
df.columns = [col.strip().replace(" ", "_").replace("-", "_").title() for col in df.columns]

# Display cleaned column names
print(df.columns)

Index(['Order_Datetime', 'Order_Id', 'Product_Id', 'Sku_Quantity',
       'Category_Id', 'Category', 'Brand_Id', 'Price_Usd', 'User_Id',
       'Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem'],
      dtype='object')

In [5]:
# Rename 'Order_Id' to 'Order_ID'
df.rename(columns={'Order_Id': 'Order_ID'}, inplace=True)

In [6]:
# Rename 'Product_Id' to 'Product_ID'
df.rename(columns={'Product_Id': 'Product_ID'}, inplace=True)

In [7]:
# Rename 'Category_Id' to 'Category_ID'
df.rename(columns={'Category_Id': 'Category_ID'}, inplace=True)

In [8]:
# Rename 'Brand_Id' to 'Branch_ID'
df.rename(columns={'Brand_Id': 'Branch_ID'}, inplace=True)

In [9]:
# Rename 'Price_Usd' to 'Price_USD'
df.rename(columns={'Price_Usd': 'Price_USD'}, inplace=True)

In [10]:
# Rename 'User_Id' to 'User_ID'
df.rename(columns={'User_Id': 'User_ID'}, inplace=True)

In [11]:
df.columns

Index(['Order_Datetime', 'Order_ID', 'Product_ID', 'Sku_Quantity',
       'Category_ID', 'Category', 'Branch_ID', 'Price_USD', 'User_ID',
       'Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem'],
      dtype='object')

# Exploratory Data Analysis

In [13]:
#Check for missing values
df.isnull().sum()

Order_Datetime        0
Order_ID              0
Product_ID            0
Sku_Quantity          0
Category_ID        5352
Category           9933
Branch_ID          4785
Price_USD          5352
User_ID            5352
Target_Gender     48167
Main_Color         7660
Main_Metal         5462
Main_Gem          34058
dtype: int64

In [14]:
# Amount of total data
df.shape

(95910, 13)

In [15]:
#Feature cardinality- how many unique value a column can take
df.nunique()

Order_Datetime    74504
Order_ID          74759
Product_ID         9613
Sku_Quantity          1
Category_ID          25
Category            218
Branch_ID          2537
Price_USD          3166
User_ID           31079
Target_Gender         2
Main_Color            5
Main_Metal            3
Main_Gem             30
dtype: int64

In [16]:
#data description of the data
df.describe()

,Order_ID,Product_ID,Sku_Quantity,Category_ID,Branch_ID,Price_USD,User_ID
count,9.591000e+04,9.591000e+04,95910.0,9.055800e+04,9.112500e+04,90558.000000,9.055800e+04
mean,2.485191e+18,1.815970e+18,1.0,1.805947e+18,8.891036e+16,362.213017,1.512644e+18
std,1.934750e+17,2.136814e+17,0.0,2.083954e+16,3.559651e+17,444.157665,2.374776e+16
min,1.924899e+18,1.313551e+18,1.0,1.313678e+18,0.000000e+00,0.990000,1.313554e+18
25%,2.379732e+18,1.515966e+18,1.0,1.806829e+18,0.000000e+00,145.620000,1.515916e+18
50%,2.524282e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,258.770000,1.515916e+18
75%,2.644347e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,431.370000,1.515916e+18
max,2.719022e+18,2.541962e+18,1.0,1.806829e+18,1.550613e+18,34448.600000,1.554297e+18

In [17]:
#data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_Datetime  95910 non-null  object
 1   Order_ID        95910 non-null  int64
 2   Product_ID      95910 non-null  int64
 3   Sku_Quantity    95910 non-null  int64
 4   Category_ID     90558 non-null  float64
 5   Category        85977 non-null  object
 6   Branch_ID       91125 non-null  float64
 7   Price_USD       90558 non-null  float64
 8   User_ID         90558 non-null  float64
 9   Target_Gender   47743 non-null  object
 10  Main_Color      88250 non-null  object
 11  Main_Metal      90448 non-null  object
 12  Main_Gem        61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [18]:
#Duplicate value
num_duplicated = len(df.loc[df.duplicated()])

In [19]:
#Print num of duplicated records
print(f"Number of duplicate records:", num_duplicated)

Number of duplicate records: 2589

In [20]:
# Check for duplicates
print(df.duplicated().sum())

# View unique values for categorical columns
for col in df.select_dtypes(include='object'):
    print(f"{col}: {df[col].unique()}")

2589
Order_Datetime: ['2018-12-01 17:38:31 UTC' '2018-12-02 13:53:42 UTC'
 '2018-12-02 17:44:02 UTC' ... '2021-12-01 09:52:06 UTC'
 '2021-12-01 09:55:35 UTC' '2021-12-01 09:59:07 UTC']
Category: [nan 'jewelry.pendant' 'jewelry.necklace' 'jewelry.earring' 'jewelry.ring'
 'jewelry.brooch' 'jewelry.bracelet' 'electronics.clocks'
 'jewelry.souvenir' '230.12' '202.36' '1098.03' '321.78' '1128.62' '81.27'
 '34.25' '582.16' '227.37' '234.22' '150.55' '131.82' '2123.15' '109.45'
 '49.22' '472.47' '205.38' '2746.44' '51.08' '231.12' '76.97' '3054.73'
 '184.90' '380.10' '357.49' '15.47' '135.33' '719.75' '93.01' '177.95'
 'jewelry.stud' '102.10' '595.75' '469.56' '427.07' '53.62' '77.53'
 '1469.18' '355.27' '184.89' '154.66' '300.58' '83.73' '271.19' '3294.21'
 '278.04' '3626.26' '126.03' '283.52' '114.38' '89.04' '8.22' '124.88'
 '89.73' '171.23' '136.93' '19.04' '158.77' '187.10' '151.92' '1845.89'
 '87.23' '248.58' '596.48' '208.88' '193.11' '169.84' '1447.68' '45.07'
 '136.85' '282.05' '61.51' '210.21' '137.12' '147.81' '419.45' '825.27'
 '300.16' '541.78' '308.74' '766.85' '410.82' '101.23' '2.88' '1356.16'
 '13.42' '35.21' '134.79' '626.58' '13.70' '108.53' '119.01' '7.40' '4.79'
 '153.97' '482.47' '427.36' '289.18' '25.48' '1858.49' '21.70' '11.77'
 '198.89' '17.51' '574.66' '1319.93' '393.05' '358.22' '2282.19' '114.93'
 '371.23' '63.56' '88.77' '133.70' '117.81' '166.03' '130.41' '195.75'
 '104.79' '228.59' '1686.93' '65.89' '242.19' '252.47' '210.41' '363.42'
 '149.04' '157.95' '176.30' '160.96' '316.30' '258.77' '268.36' '838.90'
 '250.96' '832.01' '312.33' '318.71' '323.60' '205.34' '608.22' '343.84'
 '598.22' '508.08' '245.67' '338.36' '75.21' '573.81' '691.51' '476.68'
 '247.68' '286.71' '863.67' '236.58' '644.66' '40.82' '1376.99' '1.23'
 '621.23' '3454.79' '65.62' '59.73' '571.30' '70.96' '271.26' '958.84'
 '527.26' '271.16' '284.66' '261.64' '493.01' '35.48' '446.16' '526.41'
 '2517.08' '331.51' '312.88' '148.63' '451.21' '369.82' '537.40' '231.51'
 '316.34' '451.10' '283.49' '787.67' '131.92' '495.48' '5.48' '186.03'
 '484.49' '331.23' '133.85' '323.70' '2635.07' '297.22' '0.00' '259.58'
 '108.33' '4876.49' '308.08' '190.27' '916.44' '132.53' '1829.37'
 '2208.90' '75.76' '278.01' '662.30' '253.77']
Target_Gender: [nan 'f' 'm']
Main_Color: ['yellow' 'white' 'red' nan 'unknown-color' 'black']
Main_Metal: ['gold' 'silver' nan 'platinum']
Main_Gem: [nan 'sapphire' 'diamond' 'amethyst' 'fianit' 'pearl' 'quartz' 'topaz'
 'garnet' 'quartz_smoky' 'ruby' 'agate' 'mix' 'citrine' 'emerald' 'amber'
 'chrysolite' 'chrysoprase' 'nanocrystal' 'turquoise' 'sitall'
 'corundum_synthetic' 'coral' 'onyx' 'nacre' 'spinel' 'tourmaline'
 'emerald_geothermal' 'garnet_synthetic' 'rhodolite' 'sapphire_geothermal']

In [21]:
#Features with a cardinality of i (invariant features- nothing needed to learn about this feature)

invariant_features = df.nunique()[df.nunique() == 1].index.tolist()

In [22]:
invariant_features

['Sku_Quantity']

In [23]:
df.columns

Index(['Order_Datetime', 'Order_ID', 'Product_ID', 'Sku_Quantity',
       'Category_ID', 'Category', 'Branch_ID', 'Price_USD', 'User_ID',
       'Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem'],
      dtype='object')

In [24]:
#Check for label distribution- looking for skew distribution
df["Price_USD"].skew()

18.95906072625981

In [25]:
#Price Kurtosis
df["Price_USD"].kurtosis()

1054.8979068506155

In [26]:
df.columns

Index(['Order_Datetime', 'Order_ID', 'Product_ID', 'Sku_Quantity',
       'Category_ID', 'Category', 'Branch_ID', 'Price_USD', 'User_ID',
       'Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem'],
      dtype='object')

In [ ]:
#Visualize price distribution by plotting 
plt.figure(figsize = (20,10))

sns.kdeplot(df, x = "Price_USD")

plt.xlabel("Price in U.S. Dollars")
plt.ylabel("Price Frequency")

plt.tight_layout()
plt.show(); plt.close()

C:\Users\Admin\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [ ]:
# Target gender analysis
df["Target_Gender"].value_counts()

In [ ]:
# Target gender analysis- normalize
df["Target_Gender"].value_counts(normalize = True)

In [ ]:
#Visualize Target_Gender - how jewellery is distributed
plt.figure(figsize = (12,8))

sns.countplot(data = df, x = "Target_Gender")

plt.xlabel("Gender")
plt.ylabel("Gender Subpopulation")

plt.show(); plt.close()

In [ ]:
# Jewelry Category analysis
df["Category"].value_counts()

In [ ]:
#Only few info makes sense of the data-, so eliminate data not needed like the numbers
df["Category"].unique()

In [ ]:
# Extract the actual categories
categories = df["Category"].unique().tolist()
categories = [c for c in categories if isinstance(c, str) and "jewelry" in c]

In [ ]:
categories

In [ ]:
#Pick out authentic data based on categories
real_categories = df.loc[df["Category"].isin(categories)]

In [ ]:
#Percentage of missing values
100 * df.isnull().sum() / len(df)

In [ ]:
#Percentage of missing values fixed
100 * real_categories.isnull().sum() / len(real_categories)

# a large part of the corruption in the data is due to one of the feature corrupted- Category feature

In [ ]:
#Visualize jewelry Category feature
subdf = real_categories["Category"].value_counts()

jewelry_categories, counts = subdf.index.tolist(), subdf.values.tolist()

plt.figure(figsize = (12,8))

plt.pie(x = counts, labels = jewelry_categories)

plt.show(); plt.close()

In [ ]:
#Category feature in countplot
plt.figure(figsize = (15,8))

sns.countplot(data = real_categories, x = "Category")

plt.xlabel("Jewelry categories")
plt.ylabel("Category frequency")

plt.show(); plt.close()

In [ ]:
df.columns

In [ ]:
real_categories.head(3)

# Sales of Jewelry ring mainly  to the male. The business can develop other category of Jewel to the males as the chart above that the 
# female gender has more users in the different varieties of Jewelleries.

In [ ]:
# Gender skew in original data
df["Target_Gender"].value_counts(normalize = True)

In [ ]:
# Gender skew in original data
real_categories["Target_Gender"].value_counts(normalize = True)

In [ ]:
# Encoding Jewelry Categories- Category

encoded, category_code = pd.factorize(real_categories["Category"])
real_categories.loc[:, "Category"] = encoded

In [ ]:
# Encoding Jewelry Categories- Target_Gender

encoded, category_code = pd.factorize(real_categories["Target_Gender"])
real_categories.loc[:, "Target_Gender"] = encoded

In [ ]:
# Encoding Jewelry Categories- Main_Gem

encoded, category_code = pd.factorize(real_categories["Main_Gem"])
real_categories.loc[:, "Main_Gem"] = encoded

In [ ]:
# Encoding Jewelry Categories- Main_Color

encoded, category_code = pd.factorize(real_categories["Main_Color"])
real_categories.loc[:, "Main_Color"] = encoded

In [ ]:
# Encoding Jewelry Categories- Main_Metal

encoded, category_code = pd.factorize(real_categories["Main_Metal"])
real_categories.loc[:, "Main_Metal"] = encoded

In [ ]:
real_categories.head()

In [ ]:
real_categories.info()

In [ ]:
real_categories.head(3)

In [ ]:
# Generate Correlation matrix
# Spearman rank method-for calculating correlation that works best for categorical feature, for numeric feature use pearson co-efficient
#Using spearman rank correlation co-efficient

correlations = real_categories.drop(labels = ["Order_Datetime", "User_ID", "Order_ID", "Product_ID"], axis = 1).corr(method = "spearman")

In [ ]:
correlations

In [ ]:
# Set Correlation limit
upper = 1
lower = .2

In [ ]:
#Explicitly obtain correlated feature
correlated_columns = {
    column: correlations[(correlations[column] > lower) & ( upper > correlations[column])].index.tolist()
    for column in correlations.columns
}

In [ ]:
correlated_columns

# Summary of findings
1. There are missing values in the dataset, can be fixed by inputting values
2. Data corruption in jewelry category feature
3. Rare values- column "Target_Gender" has the "male" with rare values which can be the reflection from the distribution of data.
4. Low cardinality or feature invariance- The SKU_Quantity feature has only one unique value,no new information added.
5. Target Skew- Target variable is right skewed, this can present issues during training of the dataset.
6. Correlation-Target variable exhibits a low correlation with independent variable.

# Data Preparation

# Based on observation from the exploration of the dataset, the following will be done in the data preparation stage

1.Missing value- replace missing value with mean or median
2.Feature Encoding- Categorical value will be encoded
3.Redundant feature will be eliminated, such as SKU_Quantity, Order_ID, Product_ID,Order_Datetime
4.Target Skew- The target variable is strongly right-skewed- this can resolved by using the TransformedTargetRegressor

Using Sci-kit learn;

Summary steps in Data preparation;

1.Eliminate features not required.
2.Extra records in actual categories
3.Encode categorical features (if required)
4.Account for target skew
5.fix missing values

In [ ]:
df.columns

In [ ]:
# Columns to eliminate
columns_to_eliminate = [
    "Sku_Quantity",
    "Order_ID",
    "Product_ID",
    "User_ID",
    "Category_ID",
    "Order_Datetime"
]

In [ ]:
#Eliminate unused features
df.drop(labels = columns_to_eliminate, axis = 1,inplace = True)

In [ ]:
df.head(5)

In [ ]:
#Eliminate unrealistic categories - rows corrup

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


# Automatically identify categorical columns (text columns)
categorical_cols = df.select_dtypes(include=['object']).columns

# Initialize the label encoder
label_encoder = LabelEncoder()

# Apply Label Encoding to all categorical columns
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col].astype(str))

In [ ]:
df.head(5)

In [ ]:
df.shape

# Split Data into Training and Testing Sets

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
X = df[['Category', 'Branch_ID', 'Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem']]
y = df['Price_USD']

In [ ]:
df.columns

In [ ]:
df.columns

In [ ]:
# Split into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Create test and train splits

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .1)

In [ ]:
features = ['Category', 'Branch_ID', 'Target_Gender', 'Main_Color', 'Main_Metal',
       'Main_Gem']

X = df[features]
y = df['Price_USD']

In [ ]:
#Create test and train splits

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .1)

# Data Modelling


1.Linear Regression
2.Extremely Random Forest (ExtraTrees)
3.Adaptive Boosting(AdaBoost), and
4.Catboost

# Summary Steps
1.Encode Categorical features-if required
2.Account for target skew
3.Fix missing values

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.compose import TransformedTargetRegressor, ColumnTransformer
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor, ExtraTreesRegressor
#from catboost import CatBoostRegressor

In [ ]:
df.columns

In [ ]:
# Drop Target column (Price_USD)
df = df.drop('Price_USD', axis=1)

In [ ]:
df.columns

In [ ]:
X = df[['Category', 'Branch_ID','Target_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem']]

y = df[['Price_USD']]

In [ ]:
df.head(2)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split


# Drop the column you don't want to include in training
df = df.drop('Price_USD')  # axis=1 means you're dropping a column (not a row)

# Separate features and target
#X = df.drop('Price_USD', axis=1)  # replace with your actual target column
#y = df['Price_USD']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:


# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression model
lin_model = LinearRegression()
lin_model.fit(X_train, y_train)

# Predictions and performance
y_pred = lin_model.predict(X_test)
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred, squared=False))

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Price_USD ~ C(Category)', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:

def generate_pipeline(model, column_indices, categorical_indices,fill_missing = True, one_hot = True, label_encode = False):
    first_transformer = ColumnTransformer(
        transformers = [
            ("imputer", SimpleImputer(strategy = "most_frequent"),)
        ],
        remainder = "passthrough",
        sparse_threshold = 0.
    )

    second_transformer = ColumnTransformer(
        transformers = [
            ("one_hot", OneHotEncoder(), categorical_indices)
        ],
        remainder = "passthrough",
        sparse_threshold = 0.
    )

    third_transformer = ColumnTransformer(
        transformers = [
            ("ordinal",OrdinalEncoder(), categorical_indices)
        ],
    )

    steps = []

    if fill_missing:
        steps.append(("first", first_transformer))

    if label_encode:
        steps.append(("third", third_transformer))

    if one_hot:
        steps.append(("second", second_transformer))

    steps.append(("model", model))

    model_pipe = Pipeline(steps = steps)

    return model_pipe

In [ ]:
X.head()

In [ ]:
# Generate indices
columns = X.columns.tolist()

column_indices = [columns.index(c) for c in columns]
categorical_features = [c for c in columns if c not in ["Branch_ID"]]
categorical_indices = [columns.index(c) for c in categorical_features]

In [ ]:
categorical_indices

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import PowerTransformer

In [ ]:
# CatBoost pipeline
cat_pipe = generate_pipeline(
    CatBoostRegressor(loss_function = "RMSE", iterations = 10000, learning_rate = 0.1, one_hot_max_size = 2),
    column_indices,
    categorical_indices,
    fill_missing = False, one_hot = False, label_encode = True
)

In [ ]:
# LinearRegression pipeline
lin_pipe = generate_pipeline(
    LinearRegression(),
    column_indices,
    categorical_indices,
    fill_missing = True, one_hot = True, label_encode = False
)

In [ ]:
# ADA Boost pipeline
ada_pipe = generate_pipeline(
    AdaBoostRegressor(loss = "exponential", n_estimators = 1000, learning_rate=.01),
    column_indices,
    categorical_indices,
    fill_missing = True, one_hot = True, label_encode = False
)

In [ ]:
# ExtraTrees pipelines
extra_pipe = generate_pipeline(
    ExtraTreesRegressor(criterion = "friedman_mse", n_estimators = 1000, bootstrap = True),
    column_indices,
    categorical_indices,
    fill_missing = True, one_hot = True, label_encode = False
)

In [ ]:
#Transform targets

cat_pipe = TransformedTargetRegressor(regressor = cat_pipe, transformer = PowerTransformer(method = "box-cox"))
ada_pipe = TransformedTargetRegressor(regressor = ada_pipe, transformer = PowerTransformer(method = "box-cox"))
lin_pipe = TransformedTargetRegressor(regressor = lin_pipe, transformer = PowerTransformer(method = "box-cox"))
extra_pipe = TransformedTargetRegressor(regressor = extra_pipe, transformer = PowerTransformer(method = "box-cox"))

In [ ]:
df.columns

In [ ]:
df.head(3)

In [ ]:
X_train

In [ ]:
#Fit CatBoost
#cat_pipe.fit(X_train, y_train)

In [ ]:
#Fit Linear Regression
#lin_pipe.fit(X_train, y_train)

In [ ]:
#Fit  AdaBoost
#ada_pipe.fit(X_train, y_train)

In [ ]:
#Fit ExtraTrees 
#extra_pipe.fit(X_train, y_train)

In [ ]:
#from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
#import matplotlib.pyplot as plt
#import numpy as np

In [ ]:
y_pred = cat_pipe.predict(X_test)

# Model Evaluation

In [ ]:
#from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
#def root_mean_square_error(y_true, y_pred):
    #value = mean_squared_error(y_true, y_pred)
    #return np.sqrt(value)

In [ ]:
#def generate_model_score(model, data, metric_function):
    #X, y = data
    #y_= model.predict(X)
    #score = metric_function(y, y_)
    #return score

In [ ]:
#def print_metrics(metric_name, train_score, test_score):
   # print(f"Train {metric_name} = {train_score}")
    #print(f"Test {metric_name} = {test_score}")
    #print(f"Generalization error {train_score - test_score}")

    #return

In [ ]:
# Expand Train and Test
#def test_model(model, data, metric_name, metric_function):
    #train, test = data

    #if isins

In [ ]:
#mse = mean_squared_error(y_test, y_pred)
#rmse = np.sqrt(mse)
#mae = mean_absolute_error(y_test, y_pred)
#r2 = r2_score(y_test, y_pred)

#print("Model Evaluation Metrics:")
#print(f"R2 Score: {r2:.4f}")
#print(f"Mean Absolute Error (MAE): {mae:.4f}")
#print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")

In [ ]:
#plt.figure(figsize=(8, 6))
#plt.scatter(y_test, y_pred, alpha=0.7, color='blue')
#plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], '--r')
#plt.xlabel('Actual Values')
#plt.ylabel('Predicted Values')
#plt.title('CatBoost Predictions vs Actuals')
#plt.grid(True)
#plt.tight_layout()
#plt.show()

In [ ]:
#from sklearn.ensemble import RandomForestRegressor

#rf = RandomForestRegressor(random_state=42)
#rf.fit(X_train, y_train)
#y_pred_rf = rf.predict(X_test)
#print("Random Forest MSE:", mean_squared_error(y_test, y_pred_rf))